@model HealthWebApp.Models.HouseholdProfile.HouseholdProfileIndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <table class="table table-bordered">
        <thead>
            <tr class="alert-success">
                <th>Id #</th>
                <th>Profile Id</th>
                <th>Address</th>
                <th>Barangay</th>
                <th>Note</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="alert-info">
            @foreach (var household in Model.Households)
            {
                <tr>
                    <td id="PatientIcon"><a asp-controller="HouseholdProfile" asp-action="Details" asp-route-id="@household.Id"> @household.Id</a></td>
                    <td>@household.ProfileId</td>
                    <td>@household.Address</td>
                    <td>@household.Barangay</td>
                    <td>@household.Note</td>
                    <td id="HouseholdIcon"><a asp-controller="HouseholdProfile" asp-action="Edit" asp-route-id="@household.Id"> Edit</a></td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="HouseholdProfile" asp-action="Create">Create new Household record.</a>
</div>
